.delete-btn {
    background-color: #dc3545; 
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: #c82333; 
}
form{
    background-color: aqua;
}