{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<style>
    .delete-btn {
        background-color: #dc3545; /* Bootstrap danger color */
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .delete-btn:hover {
        background-color: #c82333; /* Darker shade for hover */
    }
</style>
<h1>Student List</h1>
<table class="table table-striped table-dark">
    <thead class="thead-light">
        <tr>
            <th>s_no</th>
            <th>Name</th>
            <th>Age</th>
            <th>Roll No</th>
            <th colspan="5">Marks</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}

        <tr>
            <td>{{loop.index}}</td>
            <td>{{ student.Name }}</td>
            <td>{{ student.Age }}</td>
            <td>{{ student.Roll_NO }}</td>
            {% for mark in student.Marks %}
            <td>{{ mark }}</td>
            {% endfor %}
            <td><a href="{{url_for('edit',index=loop.index)}}">edit</a></td>
            <!-- <td><a href="{{ url_for('delete', index=loop.index) }}">delete</a></td> -->
            <td>
                <form action="{{ url_for('delete', index=loop.index) }}" method="post">
                    <button type="submit" class="delete-btn">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}